
  <!-- <button (click)="onClickMe()">Click me!</button> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 section_border">
      <h1 class="text-center heading_space bold_text heading_text">Emergency Contacts</h1>
    </div>
  </div>
  <div class="row input_background">
    <div class="col-sm-4">
      <label class="custom-file normal_text">
        <input type="file" id="file1" class="custom-file-input normal_text" required>
        <span class="custom-file-control"></span>
      </label>
    </div>
    <div class="col-sm-5">
      <div class="row">
        <label for="inputFirstName" class="normal_text label_top">First Name</label>
        <input type="text" class="form-control normal_text" id="firstName" placeholder="First Name" required>
      </div>
      <div class="row">
        <label for="inputLastName" class="normal_text label_top">Last Name</label>
        <input type="text" class="form-control normal_text" id="lastName" placeholder="Last Name" required>
      </div>
      <div class="row">
        <label for="inputPhone" class="label_top normal_text">Mobile Phone Number</label>
        <input type="text" class="form-control normal_text" id="phoneNumber" placeholder="(555) 555-5555" required>
      </div>
      <div class="row">
        <label for="inputRelationship" class="label_top normal_text">Relationship</label>
        <input type="text" class="form-control normal_text" id="relationship" placeholder="Relationship" required>
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary button_margin normal_text" type="submit">Submit</button>
    </div>
    <div class="col-sm-12 gray_line"></div>
    <div class="row push_right">
      <div class="col-sm-2 margin_right margin_left">
        <div class="gray_box"></div>
        <p class="normal_text">John Doe</p>
        <p class="normal_text">555-555-5555</p>
      </div>
      <div class="col-sm-2 margin_right margin_left">
        <div class="gray_box"></div>
        <p class="normal_text">John Doe</p>
        <p class="normal_text">555-555-5555</p>
      </div>
      <div class="col-sm-2 margin_right margin_left">
        <div class="gray_box"></div>
        <p class="normal_text">John Doe</p>
        <p class="normal_text">555-555-5555</p>
      </div>
      <div class="col-sm-2 margin_right margin_left">
        <div class="gray_box"></div>
        <p class="normal_text">John Doe</p>
        <p class="normal_text">555-555-5555</p>
      </div>
      <div>
        <button type="button" class="btn btn-link btn-lg normal_text edit_btn">Edit</button>
      </div>
    </div>
  </div>
</div>
