
  <!-- <button (click)="onClickMe()">Click me!</button> -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Emergency Contacts</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <label class="custom-file">
        <input type="image" id="image" class="custom-file-input" required>
        <span class="custom-file-control"></span>
      </label>
    </div>
    <div class="col-sm-3">
      <div class="row">
        <label for="validationServer01">First Name</label>
        <input type="text" class="form-control is-invalid" id="validationServer01" placeholder="First Name" required>
        <div class="invalid-feedback">Please provide a first name.</div>
      </div>
    <div class="row">
      <label for="validationServer03">Phone Number</label>
      <input type="text" class="form-control is-invalid" id="validationServer03" placeholder="(Area Code) Phone Number" required>
      <div class="invalid-feedback">Please provide a valid phone number.</div>
    </div>
  </div>
    <div class="col-sm-3">
      <div class="row">
        <label for="validationServer02">Last Name</label>
        <input type="text" class="form-control is-invalid" id="validationServer02" placeholder="Last Name" required>
        <div class="invalid-feedback">Please provide a last name.</div>
      </div>
      <div class="row">
        <label for="validationServer04">Relationship</label>
        <input type="text" class="form-control is-invalid" id="validationServer04" placeholder="Relationship" required>
        <div class="invalid-feedback">Please provide a relationship.</div>
      </div>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>
</div>