<div class="container-fluid">
  <div class="row">
    <h1 class="main_head text-center">Household Settings</h1>
  </div>
  <div class="col-md-12 main__wrapper">
    <!--ADULT FORM GROUP SECTION-->
    <form class="form-group">
      <div class="col-md-12">
        <h4 class="text-left">Living In<br>Home Adult</h4>

        <!--ADULT name -->
        <label for="adultName" class="label_title margin_left pad">Name:</label>
        <input type="text" class="" name="adultName" id="" aria-placeholder="First and Last Name">
        <!--ADULT age -->
        <label for="adultAge" class="label_title pad">Age:</label>
        <input type="number" class="short_input " name="adultAge" id="" aria-placeholder="25">
        <!--ADULT relationship -->
        <label for="adultRelationship"class="label_title pad">Relationship:</label>
        <input type="text" class="" name="adultRelationship" id="" aria-placeholder="Relationship">

        <div class="row">
          <label for="adultMedicalIssues" class="label_title pad">Known Medical Issues:</label>
          <input type="text" class="form-control" name="adultMedicalIssues" id="" aria-placeholder="Known Medical Issues">
        </div>
        <div class="row">
          <label for="adultAllergies" class="label_title pad">Allergies:</label>
          <input type="text" class="form-control" name="adultAllergies" id="" aria-placeholder="Allergies">
          <span><i class="fa fa-plus" aria-hidden="true"></i></span>
        </div>

        <div class="space"></div>

        <h4 class="text-left">Child</h4>
        <!--CHILD name -->
        <label for="childName" class="label_title margin_left pad">Name:</label>
        <input type="text" class= "" name="childName" id="" aria-placeholder="First and Last Name">
        <!--CHILD age -->
        <label for="childAge" class="label_title pad">Age:</label>
        <input type="number" class="short_input" name="childAge" id="" aria-placeholder="5">
        <!--CHILD relationship -->
        <label for="adultRelationship"class="label_title pad">Relationship:</label>
        <input type="text" class= "" name="childRelationship" id="" aria-placeholder="Relationship">

        <div class="row">
          <label for="childMedicalIssues" class="label_title pad">Known Medical Issues:</label>
          <input type="text" class="form-control" name="childMedicalIssues" id="" aria-placeholder="Known Medical Issues">
        </div>
        <div class="row">
          <label for="childAllergies" class="label_title pad">Allergies:</label>
          <input type="text" class="form-control" name="childAllergies" id="" aria-placeholder="Allergies">
        </div>
      </div>
    </form>
  </div>
</div>


