@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900');

.body-background {
	background-color: #D6EFFF;
}
.wrapper {
	background: #5056F3;
	padding: 20px;
	opacity: 79%;
	margin: 0 auto;
	height: auto;
	font-family: 'Montserrat', sans-serif;
}

#section-b {
	align-items: center;
}

.btn {
	background: #FF2300;
	color: #fff;
	border: 3px solid #fff;
	width: 450px;
	height: 140px;
}

.nine-one-one {
	font-size: 90px;
	font-weight: 900;
	margin: 0;
	padding: 0.5em;
	letter-spacing: 2px;
	text-align: center;
}
.space li { 
	display: inline-block;
	padding: 2px;
}

.center {
	text-align: center;
	margin: 0 auto;
}

