<div class="wrapper">
  <nav>
    <ul class="kid-nav">
      <li class="logo">logo</li>
      <img src="" alt="" class="img-responsive">
      <li class="settingz">settings</li>
    </ul>
  </nav>
  <main class="kid--sect">
    main kid view which will contain boxes for kid view. create a list Jacque, to add those four boxes, then at the bottom add the 911 button
    <ul class="emergency-choices">
      <li><img src="" alt="Police" class="img-responsive">
      Police
      </li>
      <li><img src="" alt="Firefighters" class="img-responsive">
      Firefighters
      </li>
      <li><img src="" alt="Hospital" class="img-responsive">
      Hospital
      </li>
      <li><img src="" alt="Family" class="img-responsive">
      Family
      </li>
    </ul>
    <button class="nine-one-one">911</button>
  </main>
</div>
