<div class="container-fluid">
<div class="row">
    <nav class="col-md-12 col-sm-12">
        <a routerLink="/" routerLinkActive="active" aria-hidden="logo" class="pull-left"><img src="../../assets/img/kidmergencies-3.png" alt="logo" class="img-responsive logo_img"></a>
        <a routerLink="/settings" routerLinkActive="active" class="pull-right" id="settings_link">Settings</a>
    </nav>
  </div>
  <div class="col-md-12 col-sm-12" id="body_style">
    <div class="row">
      <div class="col-md-12">
          <!-- Section A - List of emergency selections -->
        <section id="section-a">
          <ul class="space">
            <li><img src="../../assets/img/police.png" alt="police"></li>
            <li><img src="../../assets/img/firefighter.png" alt="firefighter"></li>
            <li><img src="../../assets/img/ambulance.png" alt="ambulance"></li>
            <li><img src="../../assets/img/fam.png" alt="fam"></li>
          </ul>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
    <!-- Section B - 911 Button -->
        <section id="section-b" class="center">
          <a href="#" class="btn"><p class="nine-one-one">9 - 1 - 1</p></a>
        </section>
      </div>
    </div>
    <div class="m_bottom"></div>
  </div>
</div>

