.wrapper {
	background: #7180ed;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, minmax(50px, auto));
}


ul > li {
 display: inline-block;
}

main {
	display: grid;
	background: #7180ed;
	grid-column: 1 / 13;
	grid-row: 2 / 10;	
	align-items: center;
	justify-content: center;
}

.nine {
	margin: 0 auto;
	grid-row: 10 / 13;
	align-items: center;
	justify-content: center;
}