<div class="container-fluid body-background">
  <div class="wrapper">
  <!-- Section A - List of emergency selections -->
  <section id="section-a">
    <ul class="space">
      <li><img src="../../assets/img/police.png" alt="police"></li>
      <li><img src="../../assets/img/firefighter.png" alt="firefighter"></li>
      <li><img src="../../assets/img/ambulance.png" alt="ambulance"></li>
      <li><img src="../../assets/img/fam.png" alt="fam"></li>
    </ul>
  </section>

  <!-- Section B - 911 Button -->
  <section id="section-b">
    <a href="#" class="btn"><span class="nine-one-one">9 - 1 - 1</span></a>
  </section>

  </div>
</div>