<body>

  <div class="wave">
<img id="logo" src="../assets/img/kidmergencies-3.png" alt="The Pulpit Rock" width="180" height="180" style="float: left; margin-left: 35px;">
    <span class="homepagespan">
  <a href="#" class="homepagelinks">FAQS</a>
  <a href="#" class="homepagelinks">Login / Register</a>
</span>
</div>

<section class="emergencyboxes">
  <div class="box police">
      <img id="policeimg" src="../assets/img/3police.jpg" alt="3 police officers" width="180" height="180">
    </div>
  <div class="box fire"></div>
  <div class="box meds"></div>
  <div class="box fam"></div>
</section>




<!-- <script>
function myFunction() {
    var x = document.getElementById("logo").src;
}

</script> -->
</body>
