<body>
  <div class="wave">
    <img id="logo" src="../assets/img/kidmergencies-3.png" alt="The Pulpit Rock" width="180" height="180" style="float: left; margin-left: 35px;">
    <span class="homepagespan">
      <a href="#" class="homepagelinks">FAQS</a>
      <a href="#" class="homepagelinks">Login / Register</a>
    </span>
  </div>
  <section class="emergencyboxes">
    <div class="police">
      <a href="#">
        <img id="policeimg" src="../assets/img/3police.jpg" alt="3 police officers" width="180" height="180">
      </a>
    </div>
    <div class="fire">
      <a href="#">
        <img id="fireimg" src="../assets/img/firemandog.png" alt="Fire man and doggie" width="180" height="180">
      </a>
    </div>
    <div class="med">
      <a href="#">
        <img id="medimg" src="../assets/img/medvan.jpg" alt="ambalancevan" width="180" height="180">
      </a>
    </div>
    <div class="fam">
      <a href="#">
        <img id="famimg" src="../assets/img/family.jpg" alt="family photo" width="180" height="180">
      </a>
    </div>
  </section>
</body>